## 数据抓换函数

- map：只用于Series
- apply：用于Series每个值的处理，用于DataFrame每个轴的处理
- applymap：只用于DataFrame，实现对其每个值的处理

In [1]:
import pandas as pd
df=pd.read_excel('./data/stocks/stock.xlsx')

In [3]:
df["公司"].unique()

array(['阿里', '百度', '拼多多'], dtype=object)

#### map

In [6]:
dic={
    "阿里":"阿里巴巴",
    "拼多多":"来一刀",
    "百度":"纵里寻他千百度"
}

In [10]:
df["公司1"]=df["公司"].map(dic)

In [11]:
df["公司2"]=df["公司"].map(lambda x: dic[x])

In [12]:
df.head()

          日期  公司      收盘      开盘  ...     交易量     涨跌幅      公司1      公司2
0 2023-12-07  阿里   72.33   71.54  ...  18.33M  0.0117     阿里巴巴     阿里巴巴
1 2023-12-06  阿里   71.49   72.36  ...  29.66M -0.0123     阿里巴巴     阿里巴巴
2 2023-12-05  阿里   72.38   72.04  ...  18.96M -0.0089     阿里巴巴     阿里巴巴
3 2023-12-04  阿里   73.03   72.67  ...  20.96M -0.0130     阿里巴巴     阿里巴巴
4 2023-12-07  百度  115.78  114.41  ...   2.65M  0.0212  纵里寻他千百度  纵里寻他千百度

[5 rows x 10 columns]

### apply

In [13]:
df["公司3"] = df["公司"].apply(lambda x: dic[x])

In [14]:
df.head(4)

          日期  公司     收盘     开盘      高      低     交易量     涨跌幅   公司1   公司2   公司3
0 2023-12-07  阿里  72.33  71.54  72.37  71.44  18.33M  0.0117  阿里巴巴  阿里巴巴  阿里巴巴
1 2023-12-06  阿里  71.49  72.36  72.95  71.49  29.66M -0.0123  阿里巴巴  阿里巴巴  阿里巴巴
2 2023-12-05  阿里  72.38  72.04  72.70  71.92  18.96M -0.0089  阿里巴巴  阿里巴巴  阿里巴巴
3 2023-12-04  阿里  73.03  72.67  73.58  72.48  20.96M -0.0130  阿里巴巴  阿里巴巴  阿里巴巴

In [15]:
df["公司4"]=df.apply(lambda col: dic[col["公司"]],axis=1)

In [17]:
df.head(5)

          日期  公司      收盘      开盘  ...      公司1      公司2      公司3      公司4
0 2023-12-07  阿里   72.33   71.54  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
1 2023-12-06  阿里   71.49   72.36  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
2 2023-12-05  阿里   72.38   72.04  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
3 2023-12-04  阿里   73.03   72.67  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
4 2023-12-07  百度  115.78  114.41  ...  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度

[5 rows x 12 columns]

#### applymap

In [18]:
df.head()

          日期  公司      收盘      开盘  ...      公司1      公司2      公司3      公司4
0 2023-12-07  阿里   72.33   71.54  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
1 2023-12-06  阿里   71.49   72.36  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
2 2023-12-05  阿里   72.38   72.04  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
3 2023-12-04  阿里   73.03   72.67  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
4 2023-12-07  百度  115.78  114.41  ...  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度

[5 rows x 12 columns]

In [22]:
df[["收盘","开盘","高","低"]].applymap(lambda x: int(x))

     收盘   开盘    高    低
0    72   71   72   71
1    71   72   72   71
2    72   72   72   71
3    73   72   73   72
4   115  114  116  114
5   113  115  115  113
6   113  111  114  111
7   113  114  114  112
8   140  141  142  139
9   141  143  145  141
10  143  138  143  138
11  142  141  143  139

In [23]:
# 修改多列
df.loc[:,["收盘","开盘","高","低"]] =   df[["收盘","开盘","高","低"]].applymap(lambda x: int(x))

In [24]:
df

           日期   公司     收盘     开盘  ...      公司1      公司2      公司3      公司4
0  2023-12-07   阿里   72.0   71.0  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
1  2023-12-06   阿里   71.0   72.0  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
2  2023-12-05   阿里   72.0   72.0  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
3  2023-12-04   阿里   73.0   72.0  ...     阿里巴巴     阿里巴巴     阿里巴巴     阿里巴巴
4  2023-12-07   百度  115.0  114.0  ...  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度
5  2023-12-06   百度  113.0  115.0  ...  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度
6  2023-12-05   百度  113.0  111.0  ...  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度
7  2023-12-04   百度  113.0  114.0  ...  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度  纵里寻他千百度
8  2023-12-07  拼多多  140.0  141.0  ...      来一刀      来一刀      来一刀      来一刀
9  2023-12-06  拼多多  141.0  143.0  ...      来一刀      来一刀      来一刀      来一刀
10 2023-12-05  拼多多  143.0  138.0  ...      来一刀      来一刀      来一刀      来一刀
11 2023-12-04  拼多多  142.0  141.0  ...      来一刀      来一刀      来一刀      来一刀

[12 rows x 12 columns]